
:root{
  --primary-color-1:#495E57;
  --primary-color-2:#F4CE14;
}

body{
  width: 100vw;
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}


.container{
  display: flex;
flex-direction: column;
}

h1{
  font-family: Markazi;
  font-size: 64pt;

  margin-top: 0;
}

h2{
  font-family: Markazi;
  font-size: 40pt;
}



button{
  border-radius: 16pt;
  background-color: var(--primary-color-2);
  color: #333;
}

/* header{
background-color:
} */
main{
order:2;
height:auto;
}

main> section{
 min-height: 100vh;
  background-color: #ffffff;
}



